<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <%= form_with model: [@card, @card_comment], url: public_card_card_comments_path(@card) do |f| %>
    <%= f.text_area :comment, class: 'form-control', placeholder: "コメントをここに" %>
    <%= f.submit "送信する", class: 'btn btn-outline-secondary btn-sm' %>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>