<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <%= form_with model: [@card, @card_comment], url: public_card_card_comments_path(@card), local: false do |f| %>
      <div class="input-group">
        <%= f.text_area :comment, class: 'form-control', placeholder: "コメントをここに", id: "comment_text" %>
        <div class="input-group-append">
          <%= f.submit "送信する", class: 'btn btn-outline-secondary btn-sm' %>
        </div>
      </div>
    <% end %>
    <div id="char_count">0/50</div>
  </div>
  <div class="col-md-2"></div>
</div>

<script>
  // テキストエリアの入力を監視して文字数をカウントする関数
  document.addEventListener('DOMContentLoaded', function () {
    const commentText = document.getElementById('comment_text');
    const charCount = document.getElementById('char_count');

    commentText.addEventListener('input', function () {
      const count = commentText.value.length;
      charCount.textContent = count + '/50';
    });
  });
</script>
