<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <%= form_with model: [@card, @card_comment], url: public_card_card_comments_path(@card), local: false do |f| %>
      <div class="input-group">
        <%= f.text_area :comment, class: 'form-control', placeholder: "コメントをここに", id: "comment_text" %>
        <div class="input-group-append">
          <%= f.submit "送信する", class: 'btn btn-outline-secondary btn-sm', id: 'form_submit_button' %>
        </div>
      </div>
    <% end %>
    <div id="char_count">0/50</div>
  </div>
  <div class="col-md-2"></div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const commentText = document.getElementById('comment_text');
    const charCount = document.getElementById('char_count');
    const submitButton = document.getElementById('form_submit_button');

    commentText.addEventListener('input', function () {
      const count = commentText.value.length;
      charCount.textContent = count + '/50';
    });

    submitButton.addEventListener('click', function() {
      // 送信ボタンがクリックされたときに文字数カウントをリセット
      charCount.textContent = '0/50';
    });
  });
</script>
