<div class="row">
  <div class="col-2"></div>
  <div class="col-8 text-center">
    <p style="font-family: Arial, sans-serif; color: #333; font-size: 16px; line-height: 1.6;">
      オンラインショップの価格比較サイトは存在し、その中で比較することは可能です。<br>
      しかし、実店舗の価格比較サイトは見たことがありません。<br>
      そのため、カードゲーマーは日々実店舗を歩き回り、比較して購入をします。<br>
      数ある実店舗の値段を把握し比較することは非常に難しく、時間を費やします。<br>
      そこで、そのカードショップに通っているユーザーやその店舗の経営者が<br>
      <strong style="color: #ff6600;">気になるカード</strong><br>
      <strong style="color: #ff6600;">売りたいカード</strong><br>
      <strong style="color: #ff6600;">見つけたカード</strong><br>
      を画像と値段と共に投稿し、比較したり、カードについてコメントを残して<br>
      コミュニケーションをしてもらうためにサイトを作成しました。
    </p>
  </div>
  <div class="col-2"></div>
</div>
