<div class="row mt-3">
  <div class="col-md-8 offset-md-2">
    <div class="text-center mb-3">
      <h1 class="top_about">Welcome to Outlook TCG</h1>
    </div>
    <p>このサイトは、TCGショップ実店舗の商品情報を共有するコミュニティサイト<span class="top_about">「Outlook TCG」</span>です。</p>
    <p class="text-left">
      オンラインショップの情報や価格を比較することは自宅で容易に行うことができます。
    </p>

    <div class="text-center">
      <%= image_tag("rdesign_11248.png", class: "resized-image") %>
    </div>

    <p class="text-left">
      しかし、実店舗では日々自ら足を運び商品情報や価格情報を収集をするためすべてを自力で把握することは困難であり、非常に時間を費やします。
    </p>

    <div class="text-center">
      <%= image_tag("rdesign_15923.png", class: "resized-image") %>
    </div>
    <p>
      　そこで、そのカードショップに通っているユーザーや店舗のスタッフが、
      「気になる商品」「売りたい商品」「見つけた商品」を画像と値段と共に投稿し、
      比較したり、カードについてコメントを残してコミュニケーションを取れるサイトを作成しました。
    </p>
  </div>
</div>