<h2>Outlook TCG</h2>

<%= link_to new_customer_registration_path do %>
  SignUp
<% end %>

<%= link_to new_customer_session_path do %>
  Log in
<% end %>

<%= link_to new_admin_session_path do %>
  管理者ログイン
<% end %>