<h2>Outlook TCG</h2>
<div class="row">
<%= link_to new_customer_registration_path do %>
  SignUp
<% end %>
</div>
<div class="row">
<%= link_to new_customer_session_path do %>
  Log in
<% end %>
</div>
<div class="row">
<%= link_to new_admin_session_path do %>
  管理者ログイン
<% end %>
</div>
<div class="row">
  <%= link_to "ゲストログイン（閲覧用）", customers_guest_sign_in_path, method: :post %>
</div>