<div class="container">
  <h2 class="mt-4 mb-4 text-center">トーク一覧</h2>
  <div class="list-group">
<% @talk_rooms.each do |talk_room| %>
  <% last_message_info = talk_room.last_message_with_sender %>
  <% unless last_message_info[:message].nil? %>
    <div class="m-1 list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      <div class="col-2">
        <h5 class="mb-0"><%= talk_room.name(current_customer) %></h5>
      </div>
      <div class="col-7">
        <div class="last-message-info">
          <p class="mb-0"><strong>最後のメッセージ:</strong> <%= last_message_info[:message].message %></p>
          <p class="mb-0"><strong>送信者:</strong> <%= last_message_info[:sender].name %></p> <!-- 送信者の名前を表示 -->
        </div>
      </div>
      <div class="col-auto">
        <% against_customer_id = talk_room.sending?(current_customer) ? talk_room.recipient_id : talk_room.sender_id %>
        <%= link_to "View Talk", talk_rooms_path(talk_room.id, against_customer_id: against_customer_id), class: "btn btn-outline-primary" %>
      </div>
    </div>
  <% end %>
<% end %>

  </div>
</div>
