<div class="container">
  <h1 class="mt-4 mb-4">トーク一覧</h1>
  <ul class="list-group">
    <% @talk_rooms.each do |talk_room| %>
      <li class="list-group-item">
        <% against_customer_id = talk_room.sending?(current_customer) ? talk_room.recipient_id : talk_room.sender_id %>
        <%= link_to talk_room.name(current_customer), talk_rooms_path(talk_room.id, against_customer_id: against_customer_id), class: "btn btn-outline-primary" %>
      </li>
    <% end %>
  </ul>
</div>
