<% @talk_rooms.each do |talk_room| %>
  <div>
    <!-- トークルームの情報を表示する -->
    Sender ID: <%= talk_room.sender_id %>
    Recipient ID: <%= talk_room.recipient_id %>
    <!-- 他の必要な情報も表示できます -->
  </div>
<% end %>
