<h3>お問い合わせ一覧</h3>
      <%= link_to new_public_contact_path, class: 'nav-link' do %>
        <i class="fa-regular fa-envelope"></i> お問い合わせ
      <% end %>
<% @contacts.each do |contact| %>
  <%= link_to admin_contact_path(contact) do %>
    <p><%= contact.customer.name %>:<%= contact.title %></p>
  <% end %>
<% end %>