<div class="container">
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-sm-9 col-md-7 col-lg-5">
      <h3 class="text-center mb-4">レアリティ編集</h3>
      <%= form_with url: admin_rarity_path, method: :patch, model: @rarity do |g| %>

      <div class="form-group">
      <%= g.text_field :name, class: 'form-control', placeholder: 'レアリティ' %>
        <% if @rarity.errors.include?(:name) %>
            <p style="color: red;"><%= @rarity.errors.full_messages_for(:name).first %></p>
        <% end %>
      </div>
      <%= g.submit '保存', class: "btn btn-outline-secondary btn-block" %>
      <% end %>
    </div>
  </div>
</div>