<h2>投稿一覧</h2>
<%= form_with url: public_cards_path, method: :get do |form| %>
  <%= form.select :sort_by,
      options_for_select([["Latest", "latest"], ["Oldest", "old"], ["High Price", "high_price"], ["Low Price", "low_price"]], params[:sort_by]),
      {prompt: "Sort by"}, {onchange: 'this.form.submit();'}
  %>
<% end %>
<%= render 'public/cards/index', cards: @cards %>