@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-resize {
  max-width: 100%;
  height: auto;
  max-height: 135px; /* サイズを変更したい高さに合わせて調整 */
  margin: 10px; /* 画像の周りに10pxの余白を追加 */
  border: 1px solid #000; /* 枠線のスタイルを定義 */
  padding: 10px; /* 枠線と画像の間に10pxの余白を追加 */
}

.card-details {
  margin-top: 10px; /* 余白を追加 */
}

.card-wrapper {
  width: 180px;
  background-color: #ffffff; /* 白色の背景 */
  padding: 5px; /* 必要に応じて余白を調整 */
  margin: 5px; /* 必要に応じて下の余白を調整 */
  border-radius: 5px; /* 必要に応じて角丸を調整 */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* 必要に応じて影を追加 */
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-label {
  margin-right: 20px; /* チェックボックスの間隔を調整 */
}

.checkbox-label-genre {

}

/* bootstrap使用時のformエラー時のレイアウト崩れ回避 */
.field_with_errors{
  display: contents;
}

.alert-text{
  color: red;
}

.notice-text {
  background-color: #bcdfff;
  color: #0067C0;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#back img {
  width: 50px;
}

.flash-message {
  position: relative;
  text-align: center;
  border-radius: 5px;
  padding: 16px 24px;
  margin-bottom: 20px;
}

.flash-message.notice {
  background-color: #B0C4DE;
  color: #00008B;
  border: solid 1px #00008B;
}

.flash-message.alert {
  background-color: #FFE4E1;
  color: #DB7093;
  border: solid 1px #DB7093;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #888;
}

.close-btn:hover {
  color: #555;
}
