        <!-- 検索ボックス -->
      <form class="form-inline my-2 my-lg-0 ml-auto" action="<%= admin_signed_in? ? admin_cards_path : public_cards_path %>" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="検索" name="q">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">🔍</button>
      </form>