<div style="word-wrap: break-word; overflow-wrap: break-word;">
<h1>検索ボックス</h1>
<p>ジャンル一覧<br>aaaaaaaaaaaaaaaaaaaaaaaaa<br>aaaaaaaaaaaaaaaaaaaaaaaa</p>
<p>aaaaaaaaaaaaaaaa<br>aaaaaaaaaaaaaaaaaaaaaaaaa<br>aaaaaaaaaaaaaaaaaaaaaaaa</p>
</div>